.preview-title {
  font-family: monospace;
}
.preview-card.mdl-card {
  width: 100%;
  position: sticky;
  top: 0.5rem;
}
.preview-editor {
  width: 100%;
  height: 100%;
  min-height: 70vh;
  border: none;
  background: #efefef;
  padding: 1rem;
  box-sizing: border-box;
}
